#cabecero {
    border: 1px solid black;
    background-color: deepskyblue;
    padding: 20px;
    overflow: hidden;
    margin-bottom: 3em;
}

.listaNavegacion a{
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family: "Comic Sans MS";
    color: azure;

}

.listaNavegacion-derecha {
    float: right;
}


#cabecero img {
    float: left;
    width: 100px;
    height: 50px;

}

article{
    font-family: "Comic Sans MS";
    font-size: 24px;


}

.caja{
    height: 300px;
    position: relative;
    background: lightblue;
    text-align: center;
    color:black;
    margin: auto;
    width: 60%;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
}

a:hover {
    background-color: #ddd;
    color: deepskyblue;
}


html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 200px;
}

#footer{
    background-color: deepskyblue;
    color: white;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    border: 1px solid black;
    font-family: "Comic Sans MS";
}

